/* A PROPOS */

.apropos{
    /* padding-top: 0; */
    
    background-color: var(--light-blue);
    color: var(--black);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apropos-text{
    margin-left: 50px;
    padding-top: 50px;

    width: 50%;
}

.apropos-text h2{
    margin-bottom: 25px;
}

.apropos-text h3{
    margin-top: 30px;
    margin-bottom: 30px;
}

.apropos-text h4{
    margin-top: 30px;
   
}



.apropos-image{
    width: 40%;
    /* height: 300px; */

    /* width: 300px;
    height: 200px; */
    /* background-image: linear-gradient(to right, var(--light-blue) 0%, rgba(0, 0, 0, 0) 5%), 
                        url('../img/profil/ProfilNaxos2.jpeg');*/
    background-size: cover;
    background-position: center; 

}