/* COMPETENCES */


.competences{
    background-color: var(--color-sect_2);
}


.competences .progressbar{
    background: lightgrey;
    /* border: 1px solid black; */
    color: white;
    margin-bottom: 1rem;
}

.competences .bar{
    background-color: #333;
    padding: 1rem;
}

/* .competences li {
    background-color: lightgray;
    border-left: 3px solid rgb(91, 107, 120);
    padding: .9rem 2rem;
} */

.competences .skills{
    display : flex;
}

.competences .skills-item{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.competences .certifications a{
    display: flex;
}

.competences .certifications p{
    padding-left: 1rem;
    padding-top: 1rem;
    max-width: 70%;
}


.competences .certifications img{
    border-radius: 10%;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    transition: all .4s;
}

.competences .certifications img:hover{
    border-radius: 20%;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}



@media screen and (min-width:750px) {

    .competences .grid{
        justify-content: space-around;
        align-items: baseline;
    }
    .competences .grid .left{
        width: 60%;
    }
    
    .competences .grid .right{
        width: 40%;
    }
}
