@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');



html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
}

:root{
    /* --first-color :#7562e0; */
    --first-color :rgb(37, 78, 214);
    --second-color : rgb(6, 48, 104);


}

body{
    font-family: 'Montserrat', sans-serif;
    /* padding: 1rem 100px 0px 100px; */
}

a{
    
    font-style: bold;
    color: black;
}

/* HEADER */

.header{
    height: 450px;
    padding: 1rem 100px 0px 100px;
    background-color: rgba(177, 201, 238, 0.545);

    box-shadow: 0px 1rem 1rem rgba(177, 201, 238, 0.545);
}

.header-title{
    color: var(--first-color);
    /* font-size: 1.4rem; */
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border-bottom: 1px solid black; */
    
}

.nav--link{
    text-decoration: none;
    margin-left: 1rem;
}

.brand{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 1.5rem; 
}

.brand-left{
    /* border: 1px solid red; */
    width: 45%;
}

.brand-right{
    /* border: 1px solid blue; */
    width: 55%;
    padding-left: 0.5rem;
}

/* .img-container{
    width: 330px;
    height: 330px;

    border-radius: 50%;
    border: 1rem solid var(--first-color);
} */

.img-container img{
    width: 330px;
    height: 330px;

    border-radius: 50%;

    object-fit: cover; 

    border: 0.8rem solid var(--first-color);
}

.presentation-name{
    font-size: 1.4rem;
}

.presentation-globale{
    margin-top: 0.5rem;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    
    width: 35%;
    /* background: none; */
    /* border: 1px solid white; 
    border: none*/
    font-size: 1.1rem;
    padding: 1rem;
    

    cursor: pointer;
    transition: all 0.3s ease-in-out;

    box-shadow: 0.3em 0.3em var(--first-color);
}

.btn:hover{
    box-shadow: 0em 0em var(--first-color), inset 0em 0em var(--first-color);
}

/* MAIN */


/* .main{
    margin-top: 3rem;
    padding: 1rem 100px 0px 100px;
    background-color: rgba(177, 201, 238, 0.545); 
} */

.main-title{

    margin-top: 3rem;
    color: var(--first-color);
    font-size: 2rem;

}

.section-1{
    padding: 1rem 100px 1rem 100px;
    background-color: rgba(238, 234, 177, 0.204); 

    /* box-shadow: 0px 1rem 1rem rgba(238, 234, 177, 0.204); */
}

.experiences{
    display: flex;
    
    /* border: 1px solid red; */
    margin-top: 2rem;
    margin-bottom: 2rem; 
    /* padding: 1rem 100px 0px 100px;
    background-color: rgba(177, 238, 178, 0.545); */
}

.experiences-left{
    width: 55%;
}

.experiences-right{
    width: 45%;
}

.exp-dates{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:var(--second-color);
}

/* .exp-description{
    margin-left: 1rem;
} */

.section-2{
    padding: 1rem 100px 1rem 100px;
    background-color: rgba(238, 177, 225, 0.545);
}

.grid{
    width: clamp(500px, 40%, 1200px);
    
    margin-bottom: 2em;
    display: grid;
    /* background-color: rgb(216, 211, 211); */

    gap: 5px;
    /* height: 40rem; */


    /* grid-template-columns: 50px 1fr 2fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

    justify-items: center; 
    align-content: space-around;
}


.stack-card {
    width: 140px;
    height: 100px;
    margin: 0px 20px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    box-shadow: 0 8px 30px rgba(118, 85, 225, 100);

    background-color: rgba(255, 255, 255, 0.685);
}

.stack-card img {
    max-width: 80px;
    display: inline-block;
}

.section-3{
    padding: 1rem 100px 1rem 100px;
    background-color: rgba(0, 0, 0, 0.836);
}


.projets{
    display: flex;
    border: 1px solid rgb(1, 1, 24);
    margin-top: 2rem; 

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: baseline;

    /* justify-content: space-around; */
}


.click{

    /* position: relative; */
    margin-right: 1rem;
    margin-bottom: 1rem;

    transition: all 0.3s ease-in-out;

    border: 1px solid black;

    box-shadow: 0.3em 0.3em var(--first-color);
}

.click:hover{
    box-shadow: 0em 0em var(--first-color), inset 0em 0em var(--first-color);
}

.projet-1{
    width: 404px;
    height: 330px;
}

.projet-1 img{
    width: 402px;
    height: 328px;
}

.projet-2{
    width: 456px;
    height: 300px;
}

.projet-2 img{
    width: 454px;
    height: 298px;
}

.projet-3{
    width: 491px;
    height: 332px;
}

.projet-3 img{
    width: 489px;
    height: 330px;

}

.projets-title{
    display: flex;
    border: 1px solid rgb(1, 1, 24);
    
}

.projets-link{
    display: flex;
    /* border: 1px solid rgb(1, 1, 24); */
    margin-top: 1rem; 

    justify-content: center;
    /* align-items: center; */
}
.projets-section img{ 
    width: 25%;

    object-fit: cover; 
    /* border: 4px solid black; */
    margin-left: 0.2rem;
    margin-top: 0.2rem;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border:  0.1rem solid black;
    /* box-shadow: 0.3em 0.3em var(--first-color), -0.3em -0.3em var(--first-color); */
    
}

.projets-section img:hover{ 
    box-shadow: 0.3em 0.3em var(--first-color), -0.3em -0.3em var(--first-color);
     /* inset 0.3em 0.3em var(--first-color); */
    /* box-shadow: 0em 0em var(--first-color), inset 0em 0em var(--first-color); */
    /* border: 4px solid rgb(9, 5, 247); */
    
}

.cards{
    margin-top: 2rem;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
}

.card{
    width: 250px;
    height: 250px;
    /* border: 1px solid red; */

    margin-left: 0.3rem;

    /* border-radius: 1rem; */

    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.18);
}

.card img{
    width: 250px;
    height: 250px;
    border: 1px solid white;

    margin-left: 0.3rem;

    /* border-radius: 1rem; */

    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.18);
}

.card:hover{
    background:var(--violet);
    border: 2px solid white;
    box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.05);
}

/* .projets-link img{
    width: 250px;
    height: 250px;
    border: 1px solid white;

    margin-left: 0.3rem;

    border-radius: 1rem;

    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.18);
}

.projets-link:hover{
    background:var(--violet);
    border: 2px solid white;
    box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.05);
} */




.skills{
    display: flex;
    margin-top: 1rem;
}

.skills-left{
    width: 20%;
    border: 1px solid red;
}

.skills-right{
    width: 80%;
    border: 1px solid blue;
    /* height: 500px; */
    /* display: flex; */
    flex-direction: column;
    padding-bottom: 1rem;
}

